# Server environment variables
DATABASE_URL=postgresql://neondb_owner:npg_cnTah2Cx8eGN@ep-dawn-night-aql9pb2c-pooler.c-8.us-east-1.aws.neon.tech/gwofo_db?sslmode=require&channel_binding=require
PORT=3000
NODE_ENV=development

# Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
